
body{
	background-color: #1FCF7C;
}
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

textarea, select, input, button { outline: none; }


input{
	border: 0;
	width: 800px;
	height: 65px;
	opacity: 0.8;
	border-radius: 4px;
	box-shadow: none;
	padding-left: 30px;
	font-size: 18px;
}

input:focus { 
    background-color: white;
    box-shadow: none;
    opacity: 0.8;
	border-radius: 4px;
}